$font-family: "Microsoft Yi Baiti";

:root {
    --primary: #202020;
    --second: #303030;
    --settings: #57c2e6;
    --font: #FFF6E0;
    --other: #D8D9DA;
}

$theme: (
    'primary_color': var(--primary),
    'second_color': var(--second),
    'font_color': var(--font),
    'other': var(--other),
);

:export {
    @each $key, $value in $theme {
      #{unquote($key)}: $value;
    }
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--second);
    overflow: hidden;
}

.dev {
    position: absolute;
    font-family: $font-family;
    color: var(--other);
    font-size: 20px;
    margin: 5px 5px auto;
    a {
        transition: .2s;
        color: var(--other);
        text-decoration: none;
    }
    a:hover {
        letter-spacing: 1px;
        transition: .2s;
    }
}

.theme {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--other);

    ul {
        list-style-type: none;
        justify-content: space-evenly;
        display: flex;
        margin: auto;
        li {
            margin-left: 30px;
            margin-right: 30px;
            button {
                border-radius: 50px;
                width: fit-content;
                cursor: pointer;
                color: var(--other);
                height: fit-content;
                transition: .3s;
                padding: 15px;
                border: none;
                outline: none;
                background-color: var(--primary);
            }
            button:hover {
                color: var(--other);
                background-color: var(--second);
                transition: .3s;
                transform: scale(1.08);
            }

            #rotate-animation i:hover {
                transition: .5s;
                transform: rotate(360deg);
            }
        }

    }
  }

.theme:hover {
    opacity: 1;
    transition: .3s;
}

.settings {
    width: fit-content;
    height: fit-content;
    padding: 40px 120px;
    display: grid;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    transform: translate(0%, 500%);
    transition: .3s;
    border-radius: 150px;;
    background-color: var(--other);
    #other-settings {
        margin-top: 40px;
        display: none;
    }
    ul {
        list-style-type: none;
        justify-content: space-evenly;
        display: flex;
        li {
            margin-left: 20px;
            margin-right: 20px;
        }
        label {
            font-family: $font-family;
            margin: auto;
            display: inline-flex;
            font-size: 25px;
            color: var(--primary);
        }
        select {
            border-radius: 50px;
            display: inline-flex;
            margin: auto;
        }
    }

}

.zero-opacity {
    opacity: 0;
    transform: .3s;
}

.one-opacity {
    opacity: 1;
    transform: .3s;
}



.toggle-mode {
    transition: .3s;
    transform: translate(0%, 120%);
}

.pomodoro {
    width: fit-content;
    font-family: $font-family;
    font-size: 75px;
    height: auto;
    margin: 100px auto;
    color: var(--other);
    background-color: var(--primary);
    padding: 20px;
    border-radius: 150px;
}

@media (max-width:800px) {
    .dev {
        display: none;
    }
    .theme {
        border-radius: 0px;
    }
}

.console {
    width: 100%;
    font-family: $font-family;
    text-align: left;
    height: auto;
    position: absolute;
    bottom: 0;
    font-size: 25px;
    color: #FFF6E0;

}